.nav {

    &__btn {
        display: none;
    }

    &__item {
        & + & {
            margin-left: 16px;
        }
    }

    &__link {
        padding: 10px;
        display: inline-block;
        color: lighten($black, 25%);
        font-size: 1.2rem;
        font-family: $roboto;
        font-weight: 500;
        transition: all .3s linear;

        &:last-child {
            padding-right: 0;
        }

        &:hover, &:focus {
            color: $black;
        }
    }
}