$widescreen: 1440px;
$laptop: 1200px;
$tablet: 960px;
$mobile-large: 720px;
$mobile: 480px;

//colors
$red: #dc3545;
$green: #8bc34a;
$orange: rgb(255, 152, 0);
$beige: #ffe9cf;
$blue: #1875ba;
$brown: #603c2a;
$black: #263238;
$gray: #555;
$semi-white: #b7c3c8;

$bg-gray: #fafafa;


//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Caveat', cursive;